.produit-card {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 1em;
  margin-top: 5px;
}
